/* Towards the end, we will go over making variables in CSS for refactoring purposes */
:root {
    --main-gray: #303841;
}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    line-height: 1.4;
}

.navbar {
    display: none;
}

@media only screen and (min-width: 900px) {
    .navbar {
        display: flex;
        min-width: 100%;
        justify-content: flex-end;
        position: fixed;
        padding: 20px 0;
        top: 0;
        left: 0;
        padding: 20px 0;
        z-index: 10;
        background-color: #349eeb;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        justify-content: center;
        font-size: 1em;
    }
}

/* .navbar > ul {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin-right: 2rem;
}

.navbar > ul li {
    padding: 0 10px;
} */

.navbar > a {
    color: #eee;
    text-decoration: none; 
    padding-right: 25px;
}

.navbar > a:visited {
    color: #eee;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(#3a3d40 20%, #181719 100%);
}

.welcome-section > h1::after {
    display: block;
    content: "living on the lighter side of things";
    font-size: 0.4em;
    padding-top: 1em;
}

.welcome-section > img {
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}

.about-section {
    display: flex;
    background-color:#1d4770;
    color: #eeeeee;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    padding: 100px 150px;
    font-size: 25px;
    font-weight: 550;
}

@media only screen and (min-width: 1500px) {
    .about-section {
        padding: 100px 400px;
    }
}

@media only screen and (max-width: 600px) {
    .about-section {
        min-height: 100vh;
        padding: 0 30px;
        font-size: 1.2em;
    }
}

.work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #004080;
}

.work-section > h2 {
    border-bottom: 2px solid #eee;
    color: #eee;
}

@media only screen and (max-width: 800px) {
    .work-section > h2 {
        font-size: 1em;
        text-align: center;        
    }
}

.group-element-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    /* flex-flow: row wrap; */
}

@media only screen and (min-width: 700px) {
    .group-element-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    .group-element-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }    
}

.element-card {
    /* flex: 1;
    flex-basis: 50%; */
    margin: 0 auto;
    text-align: center;
    display: flex; 
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.element-hover {
    position: absolute;
    max-width: 80%;
    padding: 0;
    font-size: 15px;
    text-align: left;
    /* padding: 60px; */
    /* align-self: center; */
    color: white;
    visibility: hidden;
    transition: visibility .25s ease-in-out;

}

.element-card > img {
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    height: 220px;
    width: 300px; 
    object-fit: cover;
}

@media only screen and (min-width: 800px) {
    .element-card > img {
        width: 360px;
        height: 280px;
    }
}

@media only screen and (min-width: 1300px) {
    .element-card > img {
        width: 380px;
        height: 300px;
    }
}

.element-card:hover > img {
    opacity: 0.2;
}

.element-card:hover > .element-hover {
    visibility: visible;
}


.element-card > p {
    min-width: 100%;
    background-color: #000;
    color: white;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    .element-card > p {
        font-size: 0.9rem;
    }
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-gray);
    color: #eee;
    padding: 300px 0;
}

.contact-section > h2::after {
    display: block;
    content: "I promise I don't bite!";
    font-style: italic; 
    font-size: 0.4em;
    font-weight: 200;
}

.contact-section > form {
    display: flex;
    flex-direction: column;
}
