html, body {
    margin: 0;
    min-height: 100%;
    font-size: 20px; 
    line-height: 1.8;
    background-color: #42f5aa;
    color: #000;
}

/* Miscellaneous */
.bold {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
}

ul li {
    padding: 10px 0;
}

.article-container {
    max-width: 670px;
    margin: 0 64px;
    min-width: 0px;
    overflow-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}

.article-container figcaption {
    margin-top: 20px;
    font-size: 0.6rem;
    font-style: italic;
    font-weight: 200;
}

figure {
    text-align: center;
}

.blank-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blank-box {
    border: 5px solid #000000;
    min-width: 20rem;
    padding-bottom: 50vh;
}

.image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image-container > img {
    flex: 1;
    flex-basis: 50%;
    margin-top: 20px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
}